* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: lightslategrey;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    user-select: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 16px;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}